@import "Utils/_variables.scss";
@import "Utils/_functions.scss";
@import "Utils/_mixins.scss";
@import "Utils/_extensions.scss";

@import "Base/_base.scss";
@import "Base/_typography.scss";

@import "Components/_buttons.scss";

@import "Layout/_header.scss";
@import "Layout/_nav.scss";
@import "Layout/_container.scss";
@import "Layout/_form.scss";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

.localisation {
    background-color: $background;
    display: flex;
    justify-content: center;
    color: $grisfoncé;
    font-weight: bold;
    box-shadow: inset 0px 2px 2px $background;
    i.fas.fa-map-marker-alt {
     display: flex;
     align-items: center;
     padding: 0 1rem 0.1rem 0;   
    }
}

.section-explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grisclair;
    h1 {
        margin: 3rem 3rem 1.5rem 3rem;
    }
    p {
        margin: 0 2rem 2rem 2rem;
        font-size: 1.2em;

    }
}