.image {
    img {
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }
}


    h1 {
        font-family: 'shrikhandregular', sans-serif;
    }
  
    h2 {
        font-weight: initial;
        font-size: large;
    }

#section-menu_ {
    background-color: $grisclair;
    .nom-restaurant {
        position: relative;
        margin-top: -2rem;
        border-radius: 2.5rem 2.5rem 0 0;
        padding:2rem 2rem 0 2rem; 
        background-color: #f2f2f2;
        .fa-heart {
            margin-top: 3rem;
        } 
    }
    .main {
        padding: 0 2rem 2rem 2rem;
    .section-menu__type {
        font-weight: initial;
        font-size: large;
        margin-bottom: 0.3rem;
        margin-top: 2.5rem;
    }
    .section-menu__soulignement {
        border-top: solid #99E2D0;
        width: 3rem;
        margin-bottom: 1rem;
        }
    .section-menu__article {
        display: flex;
        flex-direction: column;
        position: relative;
        border: solid $grisclair 1px;
        background-color: white;
        border-radius: 16px;
        padding: 0.5rem 0 0.5rem 0.5rem;
        margin-bottom: 1rem;
        box-shadow: 3px 3px 9px $background;
        cursor: pointer;
        h2 {
            margin: 0.5rem 0 0.5rem 0;
            font-size: large;  
            font-weight: bold;
            margin-bottom: 0.3rem;
        }
        .section-menu__soulignement {
        border-top: solid #99E2D0;
        width: 3rem;
        margin-bottom: 1rem;
        }
        p {
            margin: 0;
        }
        span {
            position: absolute;
            top: 2.8rem;
            right: 1rem; 
            font-weight: bold; 
        }
    }
    .bouton-commander {
        display: flex;
        justify-content: center;
        a {
            color: white;
            border: solid transparent 1px;
            background: linear-gradient(#FF79DA, #9356DC);
            text-decoration: none;
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 3rem;
            font-weight: bold;
            margin-top: 3rem;
            margin-bottom: 2rem;
            box-shadow: 3px 3px 9px $background;
        
        }
        
    }
    }
}