.section-menu__coeur {
  transform-origin: bottom;
  opacity: 1;
  font-size: 24px;
}
.section-menu__coeur .coeur1 {
  display: inline-block;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
}

.section-menu__animation {
  opacity: 0;
}
.section-menu__animation:hover {
  opacity: 1;
  transition: opacity 2s;
}
.section-menu__animation .coeur2 {
  top: 0.5rem;
  position: absolute;
  right: 2rem;
  font-size: x-large;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-menu__article:hover .section-menu__article__animation {
  transform: translateX(-100%);
  visibility: visible;
  -webkit-transition: all 0.5s ease-in;
}
.section-menu__article:hover .section-menu__article__description {
  /*margin-right: 9rem;*/
  margin-right: 0rem;
}
.section-menu__article:hover .div-check-circle {
  transform: rotate(-380deg);
  transition-duration: 1s;
}
.section-menu__article .section-menu__article__description {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.section-menu__article:hover .section-menu__article__description {
  width: 75%;
}
.section-menu__article .section-menu__article__animation {
  background: #99E2D0;
  width: 20%;
  position: absolute;
  top: 0;
  /*right: 0;*/
  visibility: hidden;
  left: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 16px 16px 0;
}
.section-menu__article .section-menu__article__animation .fa-check-circle {
  font-size: x-large;
  color: white;
  font-weight: bold;
}

/*@font-face {
    font-family: 'shrikhandregular';
    src: url('/public/font/shrikhand-regular-webfont.woff2') format('woff2'),
         url('/public/font/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('/public/font/roboto-light.woff2') format('woff2'),
         url('/public/font/roboto-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0.5rem 0;
  position: relative;
}
header .fa-arrow-left {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  cursor: pointer;
  color: black;
}
header h1 {
  width: 10rem;
  font-family: "Shrikhand", cursive;
  margin: 0;
}
header h1 a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #333232db;
  padding: 1rem 0 1rem 0;
}
footer h1 {
  color: white;
  margin-left: 2.4rem;
  font-size: larger;
  font-family: "Shrikhand", cursive;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin-bottom: 0.4rem;
}
footer ul a {
  color: white;
  text-decoration: none;
}
footer ul a:hover {
  text-decoration: underline;
}
footer ul a .fa, footer ul a .fas {
  font-size: x-small;
  width: 1.5rem;
}

.image img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

h2 {
  font-weight: initial;
  font-size: large;
}

#section-menu_ {
  background-color: #f2f2f2;
}
#section-menu_ .nom-restaurant {
  position: relative;
  margin-top: -2rem;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 2rem 2rem 0 2rem;
  background-color: #f2f2f2;
}
#section-menu_ .nom-restaurant .fa-heart {
  margin-top: 3rem;
}
#section-menu_ .main {
  padding: 0 2rem 2rem 2rem;
}
#section-menu_ .main .section-menu__type {
  font-weight: initial;
  font-size: large;
  margin-bottom: 0.3rem;
  margin-top: 2.5rem;
}
#section-menu_ .main .section-menu__soulignement {
  border-top: solid #99E2D0;
  width: 3rem;
  margin-bottom: 1rem;
}
#section-menu_ .main .section-menu__article {
  display: flex;
  flex-direction: column;
  position: relative;
  border: solid #f2f2f2 0px;
  background-color: white;
  border-radius: 16px;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 9px #aba9a936;
  cursor: pointer;
  /*&:hover .section-menu__article__description {
      width: 75%;
  }*/
}
#section-menu_ .main .section-menu__article h2 {
  margin: 0.5rem 0 0.5rem 0;
  font-size: large;
  font-weight: bold;
  margin-bottom: 0.3rem;
}
#section-menu_ .main .section-menu__article .section-menu__soulignement {
  border-top: solid #99E2D0;
  width: 3rem;
  margin-bottom: 1rem;
}
#section-menu_ .main .section-menu__article p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#section-menu_ .main .section-menu__article span {
  /*position: absolute;
  top: 2.8rem;
  right: 1rem;*/
  font-weight: bold;
  /*margin-right: 2rem;*/
}
#section-menu_ .main .bouton-commander {
  display: flex;
  justify-content: center;
}
#section-menu_ .main .bouton-commander a {
  color: white;
  border: solid transparent 1px;
  background: linear-gradient(#FF79DA, #9356DC);
  text-decoration: none;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 9px #aba9a936;
}

.localisation {
  background-color: #aba9a936;
  display: flex;
  justify-content: center;
  color: #333232db;
  font-weight: bold;
  box-shadow: inset 0px 2px 2px #aba9a936;
}
.localisation i.fas.fa-map-marker-alt {
  display: flex;
  align-items: center;
  padding: 0 1rem 0.1rem 0;
}

.section-explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}
.section-explorer h1 {
  margin: 3rem 3rem 1.5rem 3rem;
}
.section-explorer p {
  margin: 0 2rem 2rem 2rem;
  font-size: 1.2em;
}
.section-explorer a {
  border-radius: 25px;
  height: 3rem;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 3rem;
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 13rem;
  justify-content: center;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.section-explorer a:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.section-menu h1 {
  margin: 2rem 0 1rem 1rem;
}
.section-menu div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  flex-direction: column;
}
@media all and (min-width: 704px) and (max-width: 1100px) {
  .section-menu div {
    flex-direction: initial;
  }
}
@media screen and (min-width: 1101px) {
  .section-menu div {
    flex-direction: initial;
  }
}
.section-menu div div {
  border-radius: 22px;
  background-color: #f2f2f2;
  width: 22rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  position: relative;
  flex-direction: initial;
  cursor: pointer;
}
@media all and (min-width: 704px) and (max-width: 1100px) {
  .section-menu div div {
    width: 20rem;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 1101px) {
  .section-menu div div {
    width: 20rem;
    margin-right: 1.5rem;
  }
}
.section-menu div div:hover {
  background-color: #9356dc30;
}
.section-menu div div:hover .icon {
  color: #9356DC;
}
.section-menu div div .icon {
  margin-right: 1rem;
  color: #333232db;
}
.section-menu div div .section-menu__numero {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  left: -0.5rem;
  top: 1.5rem;
  color: white;
  background-color: #9356DC;
  font-size: small;
}

.section-restaurants {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background-color: #f2f2f2;
  align-items: center;
  padding: 1.5rem;
}
.section-restaurants #section-restaurants__titre {
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.section-restaurants div {
  width: 100%;
  overflow-x: auto;
  /*.section-restaurants__coeur {
                  height: 2rem;
                  width: 2rem;
                  font-size: 1.5rem;
                  position: absolute;
                  right: 1.5rem;
                  top: 1rem;
                  .coeur1 {
                      position: relative;
                      &:hover {
                          display: none;
                      }
                  }
                  .coeur2 {
                      position: absolute;
                      right: 0.5rem;
                      display: none; 
                      &:hover{
                          display: block;
                          background: linear-gradient(#FF79DA, #9356DC);
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;
                      }
                  }
              }

          }
      }
  }
  .section-restaurants__coeur {
      height: 2rem;
      width: 2rem;
      font-size: 1.5rem;
      position: absolute;
      right: 1.5rem;
      top: 1rem;
      .coeur1 {
          position: relative;
      }
      .coeur2 {
          position: absolute;
          right: 0.5rem;
          display: none; 
      }
  }*/
}
@media all and (min-width: 701px) {
  .section-restaurants div {
    display: flex;
    flex-wrap: wrap;
  }
}
.section-restaurants div img {
  width: 100%;
  height: 12rem;
  border-radius: 17px 17px 0 0;
  object-fit: cover;
}
.section-restaurants div article {
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  border-radius: 17px 17px 17px 17px;
  position: relative;
}
@media all and (min-width: 701px) {
  .section-restaurants div article {
    width: 48%;
  }
}
@media screen and (min-width: 1101px) {
  .section-restaurants div article:hover {
    transform: scale(1.02);
  }
}
@media all and (min-width: 701px) {
  .section-restaurants div article:hover {
    transform: scale(1.02);
  }
}
.section-restaurants div article a {
  color: black;
  text-decoration: none;
  background-color: white;
}
.section-restaurants div article a span {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #99E2D0;
  padding: 0.3rem;
  color: #265549;
  border-radius: 4px;
}
.section-restaurants div article a .section-restaurants__article {
  height: 5rem;
  position: relative;
}
@media all and (min-width: 701px) {
  .section-restaurants div article a .section-restaurants__article {
    flex-direction: column;
  }
}
.section-restaurants div article a .section-restaurants__article h2 {
  margin: 1rem 0 0.3rem 1rem;
  font-size: 1.3em;
  background-color: white;
  font-weight: bold;
}
.section-restaurants div article a .section-restaurants__article p {
  margin: 0 0 0 1rem;
}
@media all and (min-width: 701px) {
  .section-restaurants div .one {
    margin-right: 1rem;
  }
}
@media all and (min-width: 701px) {
  .section-restaurants div .three {
    margin-right: 1rem;
  }
}

/*# sourceMappingURL=la-palette-du-gout.css.map */
