
@font-face {
    font-family: 'robotoblack';
    src: url('/sass/font/roboto-black.woff2') format('woff2'),
         url('/sass/font/roboto-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'robotoblack', sans-serif;
    margin: 0;
}