.section-menu__coeur {
    transform-origin: bottom;
    opacity: 1;
    font-size: 24px;
    .coeur1 {
        display: inline-block;
        text-rendering: auto;
        line-height: 1;
        position: absolute;
        top: 13.5rem;
        right: 2rem;
    }
}

.section-menu__animation {
    opacity: 0;
    &:hover {
        opacity: 1;
        transition: opacity 2s;
    }

    .coeur2 {
        top: 13.5rem;
        position: absolute;
        right: 2rem;
        font-size: x-large;
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
}
.section-menu__article {
    &:hover {
        overflow: hidden;
    }
    &:hover .section-menu__article__animation {
        transform: translateX(-100%);
        visibility: visible;
        -webkit-transition: all .5s ease-in;
    }
    &:hover .section-menu__article__description {
        margin-right: 0rem;
    }
    &:hover .div-check-circle {
        transform: rotate(-380deg);
        transition-duration: 1s;
    }
    .section-menu__article__description {
        display: flex;
        justify-content: space-between;
        width: 95%;
        
    }
    &:hover .section-menu__article__description {
        width: 75%;
    }
.section-menu__article__animation {
    background: $vert;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    left: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 16px 16px 0;
    
    .fa-check-circle {
        font-size: x-large;
        color: white;
        font-weight: bold;
    }
}
}

.loadcontent
{
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    display:  flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF80;
    animation: loadinger 0.1s;
    animation-delay: 2.9s;
    animation-fill-mode: both;
}

.loading
{
    border: 5px solid #9356DC;
    border-top: 5px solid #99E2D0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: loading 1s ease-in-out;
    animation-iteration-count: 3;
}
@keyframes loading
{
    0%
    { 
        transform: rotate(0deg); 
    }
    100%
    { 
        transform: rotate(360deg);
    }
}


@keyframes loadinger
{
    100%
    {
       opacity: 0;
       z-index: -1;
    }
}

@keyframes scale {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    
    50%{
        opacity: 1;
        transform: scale(105%);
    }

    100%{
        transform: scale(100%);
    }
}